<!DOCTYPE html>
<html>
	<head>
		<title>Bibli</title>
		<%= csrf_meta_tag %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= render "layouts/stylesheets" %>
	</head>
	<body>
	<% flash.each do |name, msg| -%>
				<%= content_tag :div, msg, class: [name, "hidden"]%>
			<% end -%>
		<div class="container ">
			<%= render "layouts/header" %>
			<div class="round searches" name="search_form" id="search_book" >
				<%= render "layouts/search_book_form" %>
			</div>
			<div class="round searches" name="search_form" id="search_auth" >
				<%= render "layouts/search_auth_form" %>
			</div>
			<div class="round searches" name="search_form" id="search_edit" >
				<%= render "layouts/search_edit_form" %>
			</div>
			<div class="round searches" name="search_form" id="search_genre" >
				<%= render "layouts/search_genre_form" %>
			</div>
			<section class="round">
				<%= yield %>
			</section>
			<%= render "layouts/footer" %>
		</div>
	</body>
</html>

